.App{
    width: 100vw;
    height: 100vh;
    /* background-color:coral; */
    /* background-color: #4C4C4C; */
}

body{
    margin: 0;
    padding: 0;
}

.Sidebar{
    height: 120%;
    width: 250px;
    background-color:#95818D;
}



.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}
.SidebarList .row{
width: 100%;
height: 60px;
/* border:  1px solid black; */
list-style-type: none;
margin: 0%;
display: flex;
flex-direction:  row;
color:white;
justify-content: center;
align-items: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.SidebarList .row:hover {
    cursor: pointer;
    background-color:#6F5D68;
}

.SidebarList #active {
    background-color: #594A53;
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex: 70%;
}

.timeline .MuiTimelineItem-missingOppositeContent:before{
display : none;
}

